@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  background-color: beige;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #5c0922;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
  font-weight: bold;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Blog-List */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  cursor: pointer;
  text-decoration: none;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h1 {
  font-size: 20px;
  color: #580921;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}


.blog-details h2 {
  font-size: 20px;
  color: #3b0b19;
  margin-bottom: 10px;
  font-weight: bold;
}
.blog-details div {
  margin: 20px 0;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Form */
.create {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #80233f;
  margin-bottom: 30px;
}

.label_text:hover{
  color: #f1356d;
  font-weight: bold;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #d63f6c;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover{
  background-color: #8b163a;
  font-weight: bold;
}